<nz-collapse>
  <nz-collapse-panel nzHeader="关键字" [nzActive]="true" [nzExtra]="clearAllExtraTpl">
    <ng-template #clearAllExtraTpl>
<!--      <a nz-button nzType="link" nzSize="small">清除所有</a>-->
    </ng-template>

    <nz-tag *ngFor="let keyword of keywords;index as index" nzMode="closeable"
            (nzOnClose)="removeKeyword(keyword, index)"
            [nzColor]="getColorFromKeyword(keyword)"
            style="margin-bottom: 8px;">{{ keyword }}</nz-tag>

    <textarea rows="3" nz-input placeholder="输入后回车添加，英文逗号( , ) 作为分隔符"
              [(ngModel)]="inputText"
              (keydown.enter)="onAdd($event)"
              style="margin-top: 12px;margin-bottom: 8px;"></textarea>
    <div class="d-flex justify-content-end">
      <button nz-button nzType="default" (click)="import()" style="margin-right: 8px;">油猴导入</button>
      <button nz-button nzType="primary" (click)="onAdd()">添加</button>
    </div>
  </nz-collapse-panel>
</nz-collapse>
